In [31]:
import pandas as pd

cancer_df = pd.read_csv("C:/Users/noapo/Downloads/pnas_normal_tpm.txt", sep="\t", index_col=0)
normal_df = pd.read_csv("C:/Users/noapo/Downloads/pnas_tpm_96_nodup.txt", sep="\t", header=None)

cancer_df.columns = [f'C{i+1}' for i in range(cancer_df.shape[1])]
normal_df.set_index(normal_df.columns[0], inplace=True)
normal_df.columns = [f'N{i+1}' for i in range(normal_df.shape[1])]

In [40]:
combined_df = pd.concat([cancer_df, normal_df], axis=1, join='inner')
combined_df.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,N87,N88,N89,N90,N91,N92,N93,N94,N95,N96
ENSG00000000003,26.432148,17.260895,0.000000,69.795165,19.331552,0.000000,2.928341,53.467303,14.997727,25.816814,...,14.134044,10.803910,6.068982,12.714350,15.983392,0.000000,38.189128,15.608352,51.519267,30.805593
ENSG00000000005,24.817762,5.402219,7.557640,0.000000,0.000000,14.330953,0.000000,16.733900,14.081717,0.000000,...,0.000000,12.172853,136.759411,28.650721,0.000000,0.000000,5.976111,6.280734,241.863225,0.000000
ENSG00000000419,66.208114,0.000000,10.081027,0.000000,18.158365,9.557926,0.000000,0.000000,0.000000,0.000000,...,79.657691,8.118597,0.000000,0.000000,0.000000,179.178412,15.942897,0.000000,0.000000,0.000000
ENSG00000000457,8.127159,6.318156,15.910242,15.328639,19.105460,6.704296,34.729107,0.000000,2.195899,20.102628,...,18.624986,15.660412,33.988677,0.000000,36.858404,83.788404,18.172309,2.938248,14.547636,10.148436
ENSG00000000460,8.035515,20.406574,0.000000,17.681754,11.019179,1.933370,0.000000,18.060385,10.131976,23.188602,...,17.903438,19.706680,23.062537,1.932615,28.344382,3.020339,27.411791,1.694651,3.729079,7.804221

In [43]:
oncogenes_df = pd.read_csv("C:/Users/noapo/Downloads/cancerGeneList.tsv", sep="\t")
gene_names = oncogenes_df['GRCh37 Isoform'].dropna().tolist()
filtered_df = combined_df.loc[combined_df.index.intersection(gene_names)]
filtered_df.head()

Empty DataFrame
Columns: [C1, C2, C3, C4, C5, C6, C7, C8, C9, C10, C11, C12, C13, C14, C15, C16, C17, C18, C19, C20, C21, C22, C23, C24, C25, C26, C27, C28, C29, C30, C31, C32, N1, N2, N3, N4, N5, N6, N7, N8, N9, N10, N11, N12, N13, N14, N15, N16, N17, N18, N19, N20, N21, N22, N23, N24, N25, N26, N27, N28, N29, N30, N31, N32, N33, N34, N35, N36, N37, N38, N39, N40, N41, N42, N43, N44, N45, N46, N47, N48, N49, N50, N51, N52, N53, N54, N55, N56, N57, N58, N59, N60, N61, N62, N63, N64, N65, N66, N67, N68, ...]
Index: []

[0 rows x 128 columns]