In [2]:
import pandas as pd

cancer_df = pd.read_csv("C:/Users/noapo/Downloads/pnas_tpm_96_nodup.txt", sep="\t", header=None)
cancer_df.set_index(cancer_df.columns[0], inplace=True)
cancer_df.columns = [f'C{i+1}' for i in range(cancer_df.shape[1])]
cancer_df.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C87,C88,C89,C90,C91,C92,C93,C94,C95,C96
0,,,,,,,,,,,,,,,,,,,,,
ENSG00000000003,7.071605,60.610797,58.255903,29.917356,24.500322,25.311091,37.394452,15.354658,24.839014,24.591295,...,14.134044,10.803910,6.068982,12.714350,15.983392,0.000000,38.189128,15.608352,51.519267,30.805593
ENSG00000000005,13.279391,47.424080,60.455497,6.482332,53.675826,31.686900,32.409716,0.000000,48.976056,46.178684,...,0.000000,12.172853,136.759411,28.650721,0.000000,0.000000,5.976111,6.280734,241.863225,0.000000
ENSG00000000419,0.000000,0.000000,23.040206,8.646690,20.456404,42.266702,21.615428,11.538256,18.665274,76.996356,...,79.657691,8.118597,0.000000,0.000000,0.000000,179.178412,15.942897,0.000000,0.000000,0.000000
ENSG00000000457,6.212355,2.218590,12.120963,6.065120,16.142519,37.059356,7.580945,0.000000,0.000000,21.603278,...,18.624986,15.660412,33.988677,0.000000,36.858404,83.788404,18.172309,2.938248,14.547636,10.148436
ENSG00000000460,34.038592,35.828348,55.926653,10.494273,14.482668,19.236768,13.117055,4.667898,18.877984,12.459809,...,17.903438,19.706680,23.062537,1.932615,28.344382,3.020339,27.411791,1.694651,3.729079,7.804221

In [3]:
oncogenes_df = pd.read_csv("C:/Users/noapo/Downloads/cancerGeneList.tsv", sep="\t")
oncogenes_df.head()

,Hugo Symbol,Entrez Gene ID,GRCh37 Isoform,GRCh37 RefSeq,GRCh38 Isoform,GRCh38 RefSeq,Is Oncogene,Is Tumor Suppressor Gene,# of occurrence within resources (Column J-P),OncoKB Annotated,MSK-IMPACT,MSK-HEME,FOUNDATION ONE,FOUNDATION ONE HEME,Vogelstein,COSMIC CGC (v99),Gene Aliases
0,ABL1,25,ENST00000318560,NM_005157.4,ENST00000318560,NM_005157.4,Yes,No,7,Yes,Yes,Yes,Yes,Yes,Yes,Yes,"ABL, JTK7, c-ABL"
1,AKT1,207,ENST00000349310,NM_001014431.1,ENST00000349310,NM_001014431.1,Yes,No,7,Yes,Yes,Yes,Yes,Yes,Yes,Yes,"AKT, PKB, PRKBA, RAC, RAC-alpha"
2,ALK,238,ENST00000389048,NM_004304.4,ENST00000389048,NM_004304.4,Yes,No,7,Yes,Yes,Yes,Yes,Yes,Yes,Yes,CD246
3,AMER1,139285,ENST00000330258,NM_152424.3,ENST00000374869,NM_152424.3,No,Yes,7,Yes,Yes,Yes,Yes,Yes,Yes,Yes,"FAM123B, FLJ39827, RP11-403E24.2, WTX"
4,APC,324,ENST00000257430,NM_000038.5,ENST00000257430,NM_000038.5,No,Yes,7,Yes,Yes,Yes,Yes,Yes,Yes,Yes,"DP2.5, PPP1R46"

In [5]:
from pybiomart import Dataset

dataset = Dataset(name='hsapiens_gene_ensembl', host='http://www.ensembl.org')
mapping_df = dataset.query(attributes=['ensembl_gene_id', 'hgnc_symbol'])
mapping_df.columns = ['Gene stable ID', 'HGNC symbol']
mapping_df = mapping_df[mapping_df['HGNC symbol'] != '']

ensg_to_symbol = dict(zip(mapping_df['Gene stable ID'], mapping_df['HGNC symbol']))

cancer_df['gene_symbol'] = cancer_df.index.map(ensg_to_symbol)
cancer_df = cancer_df[cancer_df['gene_symbol'].notnull()]
cancer_df.set_index('gene_symbol', inplace=True)
cancer_df.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C87,C88,C89,C90,C91,C92,C93,C94,C95,C96
gene_symbol,,,,,,,,,,,,,,,,,,,,,
TSPAN6,7.071605,60.610797,58.255903,29.917356,24.500322,25.311091,37.394452,15.354658,24.839014,24.591295,...,14.134044,10.803910,6.068982,12.714350,15.983392,0.000000,38.189128,15.608352,51.519267,30.805593
TNMD,13.279391,47.424080,60.455497,6.482332,53.675826,31.686900,32.409716,0.000000,48.976056,46.178684,...,0.000000,12.172853,136.759411,28.650721,0.000000,0.000000,5.976111,6.280734,241.863225,0.000000
DPM1,0.000000,0.000000,23.040206,8.646690,20.456404,42.266702,21.615428,11.538256,18.665274,76.996356,...,79.657691,8.118597,0.000000,0.000000,0.000000,179.178412,15.942897,0.000000,0.000000,0.000000
SCYL3,6.212355,2.218590,12.120963,6.065120,16.142519,37.059356,7.580945,0.000000,0.000000,21.603278,...,18.624986,15.660412,33.988677,0.000000,36.858404,83.788404,18.172309,2.938248,14.547636,10.148436
FIRRM,34.038592,35.828348,55.926653,10.494273,14.482668,19.236768,13.117055,4.667898,18.877984,12.459809,...,17.903438,19.706680,23.062537,1.932615,28.344382,3.020339,27.411791,1.694651,3.729079,7.804221

In [6]:
oncogene_genes = oncogenes_df['Hugo Symbol'].tolist()
filtered_df = cancer_df.loc[cancer_df.index.intersection(oncogene_genes)]
filtered_df.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C87,C88,C89,C90,C91,C92,C93,C94,C95,C96
gene_symbol,,,,,,,,,,,,,,,,,,,,,
RAD52,17.859037,7.289047,26.548476,24.908245,11.785623,15.219543,9.340032,0.000000,16.130539,8.872038,...,33.145289,2.338699,3.284347,0.000000,2.883241,17.205119,2.296310,26.546970,7.965901,11.114031
LASP1,7.569685,2.162662,0.000000,2.956112,3.496796,14.450052,5.542378,0.000000,23.929669,2.632335,...,12.103647,2.775569,0.000000,4.899553,22.241913,45.942857,14.988943,4.296268,0.000000,3.297535
RECQL,2.829515,36.377709,7.360913,33.149458,22.874028,3.375854,6.905723,3.686256,29.816021,9.839556,...,5.655363,5.187478,0.000000,45.785793,3.197666,0.000000,5.093456,26.765437,0.000000,9.244532
UPF1,21.131216,7.102583,11.317831,15.776187,7.177581,22.245309,10.617951,1.619381,11.788423,6.483809,...,17.390900,22.788714,0.000000,2.681841,4.214226,0.000000,5.593918,2.351624,5.174748,5.414859
HOXA11,9.267368,0.000000,0.000000,45.238641,10.702592,5.528382,5.654491,0.000000,0.000000,24.170248,...,9.261362,8.495142,0.000000,0.000000,0.000000,0.000000,8.341169,0.000000,19.290348,0.000000

In [12]:
metadata_df = pd.read_csv("C:/Users/noapo/Downloads/pnas_patient_info.csv")

column_names = [f"C{i+1}" for i in range(len(metadata_df))]
recur_statuses = metadata_df['recurStatus'].tolist()
new_column_names = [f"{name}_{status}" for name, status in zip(column_names, recur_statuses)]

filtered_df.columns = new_column_names
filtered_df.head()

,C1_R,C2_R,C3_R,C4_R,C5_R,C6_R,C7_R,C8_R,C9_R,C10_R,...,C87_N,C88_N,C89_N,C90_N,C91_N,C92_N,C93_N,C94_N,C95_N,C96_N
gene_symbol,,,,,,,,,,,,,,,,,,,,,
RAD52,17.859037,7.289047,26.548476,24.908245,11.785623,15.219543,9.340032,0.000000,16.130539,8.872038,...,33.145289,2.338699,3.284347,0.000000,2.883241,17.205119,2.296310,26.546970,7.965901,11.114031
LASP1,7.569685,2.162662,0.000000,2.956112,3.496796,14.450052,5.542378,0.000000,23.929669,2.632335,...,12.103647,2.775569,0.000000,4.899553,22.241913,45.942857,14.988943,4.296268,0.000000,3.297535
RECQL,2.829515,36.377709,7.360913,33.149458,22.874028,3.375854,6.905723,3.686256,29.816021,9.839556,...,5.655363,5.187478,0.000000,45.785793,3.197666,0.000000,5.093456,26.765437,0.000000,9.244532
UPF1,21.131216,7.102583,11.317831,15.776187,7.177581,22.245309,10.617951,1.619381,11.788423,6.483809,...,17.390900,22.788714,0.000000,2.681841,4.214226,0.000000,5.593918,2.351624,5.174748,5.414859
HOXA11,9.267368,0.000000,0.000000,45.238641,10.702592,5.528382,5.654491,0.000000,0.000000,24.170248,...,9.261362,8.495142,0.000000,0.000000,0.000000,0.000000,8.341169,0.000000,19.290348,0.000000

In [24]:
import pandas as pd

filtered_columns = filtered_df.columns.tolist()

metadata_df['base_id'] = [f"C{i+1}" for i in range(len(metadata_df))]
metadata_df['full_id'] = metadata_df['base_id'] + '_' + metadata_df['recurStatus']
metadata_df.set_index('full_id', inplace=True)

aligned_metadata = metadata_df.loc[filtered_df.columns]
aligned_metadata['recurStatus'] = aligned_metadata['recurStatus'].replace({'R': 1, 'N': 0}).astype(int)

metadata_fields = ['fu', 'cancerstage_cat', 'er_cat', 'pr_cat', 'her2_cat', 'recurStatus']
metadata_rows = aligned_metadata[metadata_fields].T

combined_with_metadata = pd.concat([filtered_df, metadata_rows])
combined_with_metadata.tail(10)

C:\Users\noapo\AppData\Local\Temp\ipykernel_31304\2954019559.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  aligned_metadata['recurStatus'] = aligned_metadata['recurStatus'].replace({'R': 1, 'N': 0}).astype(int)

,C1_R,C2_R,C3_R,C4_R,C5_R,C6_R,C7_R,C8_R,C9_R,C10_R,...,C87_N,C88_N,C89_N,C90_N,C91_N,C92_N,C93_N,C94_N,C95_N,C96_N
H2AC16,27.200787,0.000000,0.000000,79.668355,62.826666,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,24.934216,0.000000,0.0,245.919199,0.0,73.446859,0.0,0.0,0.0
H3C7,0.000000,0.000000,0.000000,76.179230,30.037567,0.000000,31.739442,0.0,27.407525,0.000000,...,25.992656,23.842206,0.000000,0.0,0.000000,0.0,23.410069,0.0,0.0,0.0
H2AC17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
H3C10,0.000000,37.034487,67.444289,33.747953,9.980145,41.241641,10.545603,0.0,9.106300,15.025805,...,0.000000,23.765109,11.124831,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
fu,2.000000,3.000000,3.000000,4.000000,2.000000,3.000000,10.000000,2.0,3.000000,4.000000,...,2.000000,5.000000,3.000000,5.0,2.000000,3.0,2.000000,3.0,2.0,3.0
cancerstage_cat,3.000000,3.000000,2.000000,2.000000,3.000000,3.000000,3.000000,1.0,1.000000,1.000000,...,2.000000,2.000000,2.000000,2.0,2.000000,2.0,2.000000,2.0,3.0,3.0
er_cat,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,...,0.000000,0.000000,1.000000,1.0,1.000000,1.0,1.000000,1.0,1.0,1.0
pr_cat,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,1.000000,1.0,1.000000,1.0,1.0,1.0
her2_cat,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,1.0,1.0
recurStatus,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0